body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 90%);
}
#myH1{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 20%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
}
#display{
    font-size: 5em;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.603);
    color: hsl(0, 1%, 31%);   
    margin-bottom: 25px; 
}
#controls button{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    min-width: 125px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;

}
#startBtn{
    background-color: hsl(120, 100%, 42%);
}
#startBtn:hover{
    background-color: hsl(120, 100%, 32%);
}
#stopBtn{
    background-color: hsl(0, 100%, 50%);
}
#stopBtn:hover{
    background-color: hsl(0, 100%, 40%);
}
#resetBtn{
    background-color: hsl(180, 100%, 50%);
}
#resetBtn:hover{
    background-color: hsl(180, 100%, 40%);
}